
#players_to_choose_from a {
  /* TODO: apply some of the 'button' styling from jquery mobile. */
  margin: 3px 10px 3px 3px;
  font-size: larger;
  line-height: 160%;
}

table {
  border: 1px solid blue;
}

td {
  padding: 3px;
}
